<p class="text-box">
  <p class="paragraph-box inat-value">
    With amphibians declining globally, its time to ask whose still here? Contribute your amphibian observations to the Global Amphibian Blitz today!
  </p>
  <p class="paragraph-box inat-value">
    The Global Amphibian Blitz is powered by 
    <a href="http://www.inaturalist.org/">
      <img alt="Logo-small" src="http://www.inaturalist.org/images/logo-small.gif" />
    </a>
  </p>
</p>