<p class="text-box">
  <p class="paragraph-box inat-value">
    With amphibians declining globally, it's time to take part in a world-wide census of every amphibian species. The <b>Global Amphibian Blitz</b> is a citizen-science project. Our mission is to harness the enthusiasm of the natural history community collect photographs and geographic locations of every remaining amphibian species. We hope to raise awareness about amphibian declines globally and compile valuable data on the distribution and rarity of species. To contribute, sign-up, upload your amphibian observations, and help others identify their observations.
  </p>
  <p class="paragraph-box inat-value">
    The <b>Global Amphibian Blitz</b> is powered by 
  <a href="http://www.inaturalist.org/">
      <img alt="Logo-small" src="http://www.inaturalist.org/images/logo-small.gif" />
    </a>, a social network for naturalists. We use amphibian taxonomy from   <a href="http://www.amphibiaweb.org/">Amphibiaweb</a>. Any amphibian observation is welcome, but we rank contributors by those observations that can be ID'd to species. We rely on curators to help keep this project running smoothly. If you'd like to become a curator, please contact us.
  </p>
  <p class="paragraph-box inat-value red">
    This is a working-demo of these ideas, not an official launch. We look forward to comments and feedback on every aspect of this project. There are a few things we will absolutely finish before launching this project officially. They are: 1) finish matching the database to Amphibiaweb, 2) improve the sign-up flow through the 'Submit an Observation' button, 3) coarsen the accuracy of coordinates from threatened amphibians, 4) allow ID's from curators to take precedence over user ID's, 5) Format for Internet Explorer, 6) show loading bars while widgets load. The code for this project is open-source. If you'd like to contribute code, go to <a href="https://github.com/">github.com</a> and search "gab_app".
</p>