<div class="tagline">
  FIND EVERY ONE. The Global Amphibian Blitz: a world-wide census of every amphibian species. Powered by you.
</div>
<div class="columns">
  <div class="inat-widget3">
    <div class="inat-message">
      <strong>
        <a href="http://inaturalist.org/taxa/Amphibia?landing=true">Can you identify these amphibians? &raquo;</a>
      </strong>
    </div>
    <div>
      <script type="text/javascript" charset="utf-8"  src="http://inaturalist.org/observations.widget?has[]=id_please&iconic_taxa[]=Amphibia&has[]=photos&layout=small&limit=11&order=desc&order_by=observed_on"></script>
    </div>
  </div>
  
  <div class="submit-container">
    <div class="current-stats-wrapper">
      <div class="current-stats">
        <script type="text/javascript" charset="utf-8" src="http://inaturalist.org/projects/13/species_count.widget"></script> / 6795
      </div>
      <div class="current-stats-label">
        Amphibians Species Observed
      </div>
    </div>
    <%= link_to "Submit an observation!",
      "http://www.inaturalist.org/observations/new?project_id=13", :target => "_blank",
      :class =>    "signup_button round"
    %>
  </div>
</div>

<div class="columns">
  <div class="inat-widget3">
    <div class="inat-label">
      <strong><a href="http://www.inaturalist.org/projects/13/contributors">Top Contributors</a></strong>
    </div>
    <div class="inat-contributor-widget">
      <script type="text/javascript" charset="utf-8" src="http://www.inaturalist.org/projects/13/contributors.widget">
      </script>
    </div>
  </div>
  
  <div class="inat-widget2">
    <div class="inat-label">
      <br />
    </div>
    <div id="map_canvas"></div>
  </div>
  
  <div class="inat-widget2">
    <div class="inat-label">
      <strong><a href="http://www.inaturalist.org/projects/13/contributors">Recent Contributions</a></strong>
    </div>
    <div>
      <script type="text/javascript" charset="utf-8"  src="http://inaturalist.org/observations/project/13.widget?layout=large&limit=5&order=desc&order_by=created_at"></script>
    </div>
  </div>
</div>
