<p class="text-box">
  <p class="paragraph-box inat-value">
    1) Contributions must be of amphibians or they will be removed from the project by curators.<br />
    2) To be counted in the Top-contributor statistics, contributions must be identified to species and have a photograph.<br />
    3) All contributions must be wild - we do not accept observations of captive amphibians.<br />
    </p>
    <p class="paragraph-box inat-value red">
      More rules to come...
  </p>
</p>
